body {
  font-family: sans-serif;
}

.btn-new-game {
  background: #8BC34A;
  border: none;
  border-radius: 5px;
  padding: 10px;

  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

.row {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;

  width: 100%;

  font-size: 25px;

}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  margin: 5px;
  width: 125px;
  height: 125px;

  transition: background 0.4s;
}

.cell-number-0 {
  color: #ccc;
}

.cell-number-2 {
  background: #DCEDC8;
  color: #60ae04;
}

.cell-number-4 {
  background: #C5E1A5;
  color: #549b03;
}

.cell-number-8 {
  background: #AED581;
  color: #549b03;
}

.cell-number-16 {
  background: #9CCC65;
  color: #549b03;
}

.cell-number-32 {
  background: #8BC34A;
  color: #549b03;
}

.cell-number-64 {
  background: #7CB342;
  color: #DCEDC8;
}

.cell-number-128 {
  background: #689F38;
  color: #DCEDC8;
}

.cell-number-256 {
  background: #558B2F;
  color: #DCEDC8;
}

.cell-number-512 {
  background: #33691E;
  color: #DCEDC8;
}

.cell-number-1024 {
  background: #B2FF59;
  color: #DCEDC8;
}

.cell-number-2048 {
  background: #76FF03;
  color: #DCEDC8;
}
